pkgbase = lf-cli-nightly
	pkgdesc = The Lingua Franca compiler and command line tools
	pkgver = 20230820050226
	pkgrel = 1
	url = https://lf-lang.org
	arch = x86_64
	license = BSD
	depends = java-runtime=17
	depends = bash
	conflicts = lfc-bin
	conflicts = lf-cli-bin
	conflicts = lf-cli-nightly-bin
	replaces = lfc-bin
	source = https://github.com/lf-lang/lingua-franca/archive/refs/tags/nightly.tar.gz
	sha512sums = f2bd8ae0c41d69c8bfcc545992d779a4e1c09fee71f55eb5cdd258c49673a7d5e8a8795354d4ba916b17fa820b78b4ec7fac10ced4d1941cac07ee1989ee5641

pkgname = lf-cli-nightly
